*{
  background-color: #111111;
}
.conteiner-menu-tittle{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.conteiner-menu-nome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size:2.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.conteiner-image{
  padding: 5px 0px;
}
.conteiner-image > a >img{
  height: 200px;
  border: 0.1rem solid white;
  border-radius: 90%;
}
hr{
  margin-top: 2px;
  margin-bottom: 2px;
}

