<div class="conteiner-about">
    <h3>Previous Expericence</h3>
    <div class="conteiner-jobs">
        <div class="conteiner-job">
            <h4>Full-stack Developer Jr. at Pegasus Technologies</h4>
            <h6>mai of 2022 - at momemt </h6>
            <p>I worked briefly in android development using java/Android studio + Spring Boot/Postgresql. After this period, I worked predominantly using Java/Spring Framework + MariaDB as Backend and JSF + primefaces and PHP/Laravel as Front end.</p>
            <hr>
        </div>
        <div class="conteiner-job">
            <h4>Front-end developer at EvenFlow Technologies</h4>
            <h6>nov of 2021 - jun of 2022</h6>
            <p>Development of stock market asset analysis strategies using the ProfitPro tool
                using NTSL/Excel and Frontend development of an internal Restful API for data analysis using Angular 9.
                Framework. Worked as a legal person.</p>
                <hr>
        </div>
        <div class="conteiner-job">
            <h4>Upgrade Validation Intern</h4>
            <h6>mar of 2022 - mai of 2022 </h6>
            <p>Software testing internship.</p>
            <hr>
        </div>
    </div>
</div>
